<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupon.edanpossey.groupon1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup_activity"
            android:label="@string/title_activity_signup_activity" >
        </activity>
        <activity
            android:name=".User_activity"
            android:label="@string/title_activity_user_activity" >
        </activity>
        <activity
            android:name=".CouponList_activity"
            android:label="@string/title_activity_coupon_list_activity" >
        </activity>
        <activity
            android:name=".view_orders_activity"
            android:label="@string/title_activity_view_orders_activity" >
        </activity>
        <activity
            android:name=".ViewOrders_activity"
            android:label="@string/title_activity_view_orders_activity" >
        </activity>
        <activity
            android:name=".AddCatalogItem"
            android:label="@string/title_activity_add_catalog_item" >
        </activity>
    </application>

</manifest>
